:root {
  /* lightest to darkest */
  --color-primary-0: #90305A; /* Main Primary color (Raspberry) */
  --color-primary-1: #D890AF;
  --color-primary-2: #B45A81;
  --color-primary-3: #6C1239;
  --color-primary-4: #480020;

  --color-secondary-1-0: #297C46;	/* Main Secondary color (Jade) */
  --color-secondary-1-1: #7CBB92;
  --color-secondary-1-2: #4E9C68;
  --color-secondary-1-3: #105D2A;
  --color-secondary-1-4: #003E15;

  --color-secondary-2-0: #9EA738;	/* Main Secondary color (Split Pea Soup) */
  --color-secondary-2-1: #F4FBA7;
  --color-secondary-2-2: #C8D168;
  --color-secondary-2-3: #747D15;
  --color-secondary-2-4: #4C5400;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
  background-color: #E9EBEE;
  vertical-align: middle;
}
.container {
  margin: auto;
  text-align: center;
  max-width: 1080px;
  padding: 20px;
}

html {
	height: 100%;
	margin-bottom: 0.01em;
}
.footer {
  text-align: center;
  margin: auto;
  background-color: white;
  width: 300px;
}
.header {
  width: 290px;
  margin: auto;
  padding: 20px;
  background-color: var(--color-primary-1);
}

.portrait {
  width: 150px;
  border-radius: 100px;
  border: 8px solid;
  border-color: var(--color-secondary-1-2);
}
.portrait:hover {
  border-color: var(--color-primary-3)
}

h1, h2, h3, h4, a {
  color: var(--color-primary-4);
  text-decoration: none;
}

a:visited {
  color: var(--color-secondary-1-4);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-3);
  text-decoration: none;
}

.nav, .active {
  background-color: var(--color-secondary-1-2);
  color: white;
}

.nav {
  background-color: var(--color-primary-2);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.nav > li {
  background-color: var(--color-secondary-1-2);
  display: inline;
}

.nav > li a {
  background-color: var(--color-secondary-1-2);
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav > li a:hover {
  background-color: var(--color-primary-3);
}

.sub-nav, .active {
  background-color: var(--color-secondary-1-2);
  color: white;
}

.sub-nav {
  background-color: var(--color-secondary-1-3);
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.sub-nav > li {
  background-color: var(--color-secondary-1-2);
  display: inline;
}

.sub-nav > li a {
  background-color: var(--color-secondary-1-2);
  display: inline-block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

.sub-nav > li a:hover {
  background-color: var(--color-primary-3);
}

.tech-icon {
  background-color: none;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
  display: inline-block;
}

.tech-icon > li {
  display: inline-block;
}

.tech-icon > li img {
  display: inline-block;
  text-align: center;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
}

.header-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.header-nav, li {
  display: inline;
}

.header-nav, li a {
  background-color: var(--color-primary-2);
  display: inline-block;
  color: white;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}

.header-nav > li a:hover {
  background-color: var(--color-primary-3);
}
